<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vite App</title>
    <script type="module" crossorigin src="/assets/index-PCBFpu1h.js"></script>
    <link rel="modulepreload" crossorigin href="/assets/__federation_fn_import-D2rRIDFP.js">
    <link rel="modulepreload" crossorigin href="/assets/_commonjs-dynamic-modules-D9Q0Knnx.js">
    <link rel="modulepreload" crossorigin href="/assets/mapProvider-BLlWqujm.js">
    <link rel="modulepreload" crossorigin href="/assets/MapForm.vue_vue_type_script_setup_true_lang-CYEfmmNw.js">
    <link rel="modulepreload" crossorigin href="/assets/MainComponent.vue_vue_type_script_setup_true_lang-DCpjJUqs.js">
    <link rel="stylesheet" crossorigin href="/assets/index-YkLfDwvt.css">
  </head>
  <body>
    <div id="location-plugin"></div>
  </body>
</html>
