<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vite App</title>
    <script type="module" crossorigin src="/assets/index-BaVFzr6E.js"></script>
    <link rel="modulepreload" crossorigin href="/assets/__federation_fn_import-ofDdBDNE.js">
    <link rel="modulepreload" crossorigin href="/assets/LinkForm.vue_vue_type_script_setup_true_lang-CuW-v96_.js">
    <link rel="modulepreload" crossorigin href="/assets/SidebarWrapper.vue_vue_type_script_setup_true_lang-BRddgVXL.js">
    <link rel="modulepreload" crossorigin href="/assets/SettingsWrapper.vue_vue_type_script_setup_true_lang-B0SazOdg.js">
    <link rel="stylesheet" crossorigin href="/assets/LinkForm-H8pXG9AX.css">
  </head>
  <body>
    <div id="link-plugin"></div>
  </body>
</html>
